<main>
    <header>
        <h1>Minhas Solicitações</h1>
        <button>Nova Solicitação</button>
    </header>

    <table class="tabela-cliente">
        <thead> <!-- cabeçalho da tabela -->
            <tr>
                <th>Data/Hora</th>
                <th>Descrição</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
        </thead> 

        <tbody> <!-- Corpo dinâmico da tabela -->
            <tr> <!-- apenas para teste, será dinâmico -->
                <td>00/00/0000 00:00</td>
                <td>Xxxxxxx Yyyyyyy</td>
                <td>XXXXXXX</td>
                <td>
                    <button>Visualizar Serviço</button>
                    <button>Xxxxxxx Serviço</button>
                </td>
            </tr>
        </tbody>
    </table>
</main>

