:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  font-size: 1.8em;
  margin-bottom: 25px;
  color: #333;
}

.button-container {
  display: flex;
  gap: 15px;
}


::ng-deep .p-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

::ng-deep .p-button:hover {
    background-color: #0056b3;
}
